@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-active: #DD4C29;
  --color-accent: #77A6D4;
  --color-primary: #4a6671;
  --color-primary_light: #E8EAEC;
  --color-primary_medium: #D0D6DD;
  --color-primary_dark: #252A41;
  --color-background: #8E98B0;
  --color-text_primary: #0B121E;
  --color-text_secondary: #989A9C;

  --color-white: #EDEFF0;
  --color-black: #0E0807;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: ##ededed;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
